<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Unsupported Browser | Sony</title>
    <meta name="description" content="">
    <meta content="" name="author"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.png">

    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
    <!-- endbuild -->
  </head>
  <body>
    <div class="unsupported">
      <h1>Please update your browser to use Sony.</h1>
      <p>
        It seems like your browser is a little outdated.<br>
        To have a better experience with Sony, please download one of these great browsers.
      </p>
      <div class="browsers">
        <div class="browser">
          <div class="browser__icon"><img src="assets/images/browser-logos/chrome.png" alt="chrome browser"></div>
          <a class="browser__link" href="https://www.google.com/chrome/browser/desktop" target="_">Chrome 11+</a>
        </div>
        <div class="browser">
          <div class="browser__icon"><img src="assets/images/browser-logos/firefox.png" alt="firefox browser"></div>
          <a class="browser__link" href="https://www.mozilla.org/en-US/firefox/new" target="_">Firefox 22+</a>
        </div>
        <div class="browser">
          <div class="browser__icon"><img src="assets/images/browser-logos/safari.png" alt="safari browser"></div>
          <a class="browser__link" href="https://support.apple.com/downloads" target="_">Safari</a>
        </div>
        <div class="browser">
          <div class="browser__icon"><img src="assets/images/browser-logos/ie.png" alt="ie browser"></div>
          <a class="browser__link" href="http://windows.microsoft.com/en-ca/internet-explorer/download-ie" target="_">IE 11+</a>
        </div>
      </div>

      <div class="footer">
      </div>
    </div>

  </body>
</html>