<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
    <script src="https://fb.me/react-15.0.0.js"></script>
    <script src="https://fb.me/react-dom-15.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script data-main="assets/js/plugins/requireconfig.js" src="assets/js/plugins/require.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

</head>
<body>
    <main class="container">
        <div class="center grid dark-text-trans-box">
            <h1>Every purpose has a perfect shape</h1>
            <h2>Wedge blends form with functional beauty</h2>
            <p>The essential new shape of BRAVIA blends aesthetics with functional beauty. The small footprint saves space, while sound is enhanced by larger speaker capacity.</p>
        </div>
        <div id="hotspots"></div>
        <script type="text/babel" src="views/components/hotspots/spots.js"></script>
    </main>
    <footer>
        <p class="text-center text-muted">© 2016 SONY CORPORATION OF AMERICA</p>
    </footer>
</body>
</html>